<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LifeLink - Blood Donor Finder</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script defer src="{{ url_for('static', filename='js/script.js') }}"></script>

    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>

<header>

<nav class="navbar">

<div class="logo">
<i class="fa-solid fa-heart-circle-plus"></i>
<span>LifeLink</span>
</div>

<ul class="nav-links">

<li><a href="/">Home</a></li>
<li><a href="/find_blood">Find Blood</a></li>
<li><a href="/register">Become Donor</a></li>
<li><a href="/emergency">Emergency</a></li>
<li><a href="/about">About</a></li>
<li><a href="/contact">Contact</a></li>
<li><a href="/login">Login</a></li>

</ul>

</nav>

</header>

<main>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category,message in messages %}

<div class="flash {{category}}">
{{message}}
</div>

{% endfor %}
{% endif %}
{% endwith %}

{% block content %}

{% endblock %}

</main>

<footer>

<div class="footer-content">

<h2>LifeLink</h2>

<p>
Donate Blood • Save Lives
</p>

<div class="social">

<i class="fab fa-facebook"></i>
<i class="fab fa-instagram"></i>
<i class="fab fa-twitter"></i>
<i class="fab fa-linkedin"></i>

</div>

<p>
© 2026 LifeLink. All Rights Reserved.
</p>

</div>

</footer>

</body>
</html>