{% extends "base.html" %}

{% block content %}

<section class="form-container">

<div class="form-box">

<h2>Contact Us</h2>

<form action="/contact" method="POST">

<input type="text"
name="name"
placeholder="Your Name"
required>

<input type="email"
name="email"
placeholder="Your Email"
required>

<textarea
name="message"
rows="5"
placeholder="Type your message..."
required></textarea>

<button type="submit" class="btn">
Send Message
</button>

</form>

</div>

</section>

<section class="contact-info">

<h2>Contact Information</h2>

<div class="info-box">

<p>📧 Email : lifelink@gmail.com</p>

<p>📞 Phone : +91 9876543210</p>

<p>📍 Address : Madanapalle, Andhra Pradesh</p>

</div>

</section>

{% endblock %}